html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  background-color: #272727
}
* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}
.react-calendar {
  border: 2px solid transparent !important;
  border-radius: 20px;
  padding: 10px;
  width: 70% !important;
}
abbr[title] {
  text-decoration: none none;
  text-decoration-style: none;
}
